<header>
  <nav
    class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary"
    data-bs-theme="dark"
  >
    <div class="container">
      <a class="navbar-brand" href="/">Your Project</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/project">
              View Project's
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/v1/api/project"
            >
              JSON Format</a
            >
          </li>
        </ul>
        <% if(isAuth){ %>
        <a href="/login" class="btn btn-outline-light" type="submit">Login</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
