<header
  class="w-full bg-white dark:bg-dark-2 hidden lg:flex border-b border-gray-200"
>
  <div
    class="relative flex items-center justify-end bg-white py-3 pr-3 pl-[70px] sm:justify-between md:pr-8 md:pl-20 xl:pl-8 dark:bg-dark-2"
  >
    <div class="items-center">
      <div class="hidden mr-3 lg:block">
        <h5 class="text-xl font-semibold text-dark dark:text-white mb-0.5">
          Hello Md. Ranju!
        </h5>
        <p class="text-sm text-body-color dark:text-dark-6">
          Welcome back to dashboard.
        </p>
      </div>
    </div>
  </div>
</header>
