<header
  class="w-full bg-slate-900 text-slate-100hidden lg:flex border-b text-slate-100 border-slate-500"
>
  <div
    class="relative flex items-center justify-end py-3 pr-3 pl-[70px] sm:justify-between md:pr-8 md:pl-20 xl:pl-8"
  >
    <div class="items-center">
      <div class="hidden mr-3 lg:block">
        <h5 class="text-xl font-semibold mb-0.5">Hello Md. Ranju!</h5>
        <p class="text-sm text-body-color">Welcome back to dashboard.</p>
      </div>
    </div>
  </div>
</header>
