<div
  class="fixed left-0 top-0 z-40 lg:flex h-screen w-full max-w-[300px] hidden flex-col justify-between overflow-y-scroll bg-slate-900 text-slate-100 shadow-card duration-200 xl:translate-x-0 border-r border-slate-700"
>
  <div>
    <div class="px-10 pt-10 pb-9">
      <button href="javascript:void(0)">
        <h1 class="font-black text-4xl">Md. Ranju</h1>
      </button>
    </div>
    <nav>
      <ul class="text-slate-300">
        <li>
          <a
            href="/dashboard"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            Dashboard
          </a>
        </li>
        <li>
          <a
            href="/projects"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            Projects
          </a>
        </li>
        <li>
          <a
            href="add-project"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            Add Project
          </a>
        </li>
        <li>
          <a
            href="/about"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="/contact"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            Contact
          </a>
        </li>
        <li>
          <div class="h-px my-5 mx-9 bg-stroke dark:bg-dark-3"></div>
        </li>

        <li>
          <a
            href="/setting"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            Settings
          </a>
        </li>
        <li>
          <a
            href="/logout"
            class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
          >
            Log out
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="p-10">
    <div class="flex items-center">
      <div class="mr-2 h-[50px] w-full max-w-[50px] rounded-full">
        <img
          src="src/assets/images/avatar/image-02.jpg"
          alt="profile"
          class="object-cover object-center w-full h-full rounded-full"
        />
      </div>
      <div>
        <h6 class="text-base font-medium">Md. Ranju</h6>
        <p class="text-xs">mdranju23@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<div class="drawer z-20 lg:hidden">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content mt-3 mx-3">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-primary drawer-button"
      ><i class="fa-solid fa-bars-staggered"></i
    ></label>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-52 p-4">
      <!-- Sidebar content here -->
      <li>
        <a
          href="/dashboard"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          Dashboard
        </a>
      </li>
      <li>
        <a
          href="/projects"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href="add-project"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          Add Project
        </a>
      </li>
      <li>
        <a
          href="/about"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/contact"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          Contact
        </a>
      </li>

      <li>
        <a
          href="/setting"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          Settings
        </a>
      </li>
      <li>
        <a
          href="/logout"
          class="relative flex items-center border-r-4 border-transparent py-[10px] pl-9 pr-10 text-base font-medium duration-200 hover:border-primary hover:bg-primary/5"
        >
          Log out
        </a>
      </li>
    </ul>
  </div>
</div>
