<%- include('../partials/header.ejs') %>

<!-- left side bar -->
<%- include('../dash/sidebar.ejs') %>
<!-- left side bar -->

<main class="w-full xl:pl-[300px]">
  <!-- ====== Horizontal Menu Section Start -->
  <%- include('../dash/header.ejs') %>
  <!-- ====== Horizontal Menu Section End -->

  <!-- page content start -->
  <div class="p-[30px] bg-slate-900 text-white"></div>
  <!-- page content end -->
</main>

<%- include('../dash/footer-links.ejs') %>
